Basics
====

As mentioned when introducing the data structures in the [last section](http://pandas.pydata.org/pandas-docs/version/0.20.3/basics.html#basics), the primary function of indexing with `[]` (a.k.a. `__getitem__` for those familiar with implementing class behavior in Python) is selecting out lower-dimensional slices. Thus,

As mentioned when introducing the data structures in the 正如在 [last section](http://pandas.pydata.org/pandas-docs/version/0.20.3/basics.html#basics)中介绍数据结构时提到的，使用`[]`(对于那些熟悉在Python中实现类行为的人来说又称为 `__getitem__`)检索的主要功能是选择出低维的切片。因此,

| Object Type | Selection         | Return Value Type                         |
| ----------- | ----------------- | ----------------------------------------- |
| Series      | `series[label]`   | scalar value                              |
| DataFrame   | `frame[colname]`  | `Series` corresponding to colname         |
| Panel       | `panel[itemname]` | `DataFrame` corresponding to the itemname |

Here we construct a simple time series data set to use for illustrating the indexing functionality:

下面，我们构造一个简单的时间序列数据集，用于说明索引功能：

In [3]:
import numpy as np 
import pandas as pd

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01  0.289160 -0.495616  0.091665  0.610683
2000-01-02  0.078071 -0.445411  1.190165  0.194903
2000-01-03 -0.037347 -1.939111 -0.734941 -0.210678
2000-01-04  0.684029  1.675777  0.676420 -0.621123
2000-01-05  0.493408  0.894284  0.419566  0.465993
2000-01-06  1.077312  0.381970  1.702055 -0.107530
2000-01-07  0.336457  0.181531  1.079590 -1.066298
2000-01-08  0.414856  0.029001  0.398494  0.257284

In [5]:
panel = pd.Panel({'one' : df, 'two' : df - df.mean()})

panel

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 8 (major_axis) x 4 (minor_axis)
Items axis: one to two
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-08 00:00:00
Minor_axis axis: A to D

**Note** None of the indexing functionality is time series specific unless specifically stated.

注意除非特别说明，否则索引功能都不是特定于时间序列的。

Thus, as per above, we have the most basic indexing using `[]`:

因此，如上所述，我们使用`[]`进行最基本的索引：

In [7]:
s = df['A']

s

2000-01-01    0.289160
2000-01-02    0.078071
2000-01-03   -0.037347
2000-01-04    0.684029
2000-01-05    0.493408
2000-01-06    1.077312
2000-01-07    0.336457
2000-01-08    0.414856
Freq: D, Name: A, dtype: float64

In [9]:
s[dates[5]]

1.0773119735983447

In [10]:
 panel['two']

                   A         B         C         D
2000-01-01 -0.127833 -0.530919 -0.511212  0.670278
2000-01-02 -0.338922 -0.480714  0.587289  0.254499
2000-01-03 -0.454341 -1.974414 -1.337817 -0.151082
2000-01-04  0.267035  1.640474  0.073543 -0.561528
2000-01-05  0.076415  0.858981 -0.183311  0.525589
2000-01-06  0.660319  0.346667  1.099178 -0.047934
2000-01-07 -0.080536  0.146228  0.476713 -1.006702
2000-01-08 -0.002138 -0.006302 -0.204383  0.316880

YYou can pass a list of columns to `[]` to select columns in that order. If a column is not contained in the DataFrame, an exception will be raised. Multiple columns can also be set in this manner:

您可以将列列表传递给`[]`以按顺序选择列。 如果DataFrame中未包含列，则会引发异常。 也可以通过以下方式设置多列：

In [11]:
df

                   A         B         C         D
2000-01-01  0.289160 -0.495616  0.091665  0.610683
2000-01-02  0.078071 -0.445411  1.190165  0.194903
2000-01-03 -0.037347 -1.939111 -0.734941 -0.210678
2000-01-04  0.684029  1.675777  0.676420 -0.621123
2000-01-05  0.493408  0.894284  0.419566  0.465993
2000-01-06  1.077312  0.381970  1.702055 -0.107530
2000-01-07  0.336457  0.181531  1.079590 -1.066298
2000-01-08  0.414856  0.029001  0.398494  0.257284

In [12]:
df[['B', 'A']] = df[['A', 'B']]

In [13]:
df

                   A         B         C         D
2000-01-01 -0.495616  0.289160  0.091665  0.610683
2000-01-02 -0.445411  0.078071  1.190165  0.194903
2000-01-03 -1.939111 -0.037347 -0.734941 -0.210678
2000-01-04  1.675777  0.684029  0.676420 -0.621123
2000-01-05  0.894284  0.493408  0.419566  0.465993
2000-01-06  0.381970  1.077312  1.702055 -0.107530
2000-01-07  0.181531  0.336457  1.079590 -1.066298
2000-01-08  0.029001  0.414856  0.398494  0.257284

You may find this useful for applying a transform (in-place) to a subset of the columns.

您可能会发现这对于将变换（就地）应用于列的子集非常有用。

**Warning** 

pandas aligns all AXES when setting `Series` and `DataFrame` from `.loc`, and `.iloc`.

当从`.loc`和`.iloc`设置`Series`和`DataFrame`时，pandas会对齐所有AXES。

This will **not** modify `df` because the column alignment is before value assignment.

这不会修改`df`，因为列对齐在赋值之前。

In [17]:
df[['A', 'B']]

                   A         B
2000-01-01 -0.495616  0.289160
2000-01-02 -0.445411  0.078071
2000-01-03 -1.939111 -0.037347
2000-01-04  1.675777  0.684029
2000-01-05  0.894284  0.493408
2000-01-06  0.381970  1.077312
2000-01-07  0.181531  0.336457
2000-01-08  0.029001  0.414856

In [18]:
df.loc[:,['B', 'A']] = df[['A', 'B']]

df[['A', 'B']]

                   A         B
2000-01-01 -0.495616  0.289160
2000-01-02 -0.445411  0.078071
2000-01-03 -1.939111 -0.037347
2000-01-04  1.675777  0.684029
2000-01-05  0.894284  0.493408
2000-01-06  0.381970  1.077312
2000-01-07  0.181531  0.336457
2000-01-08  0.029001  0.414856

The correct way is to use raw values

正确的方法是使用原始值

In [21]:
df.loc[:,['B', 'A']] = df[['A', 'B']].values

df[['A', 'B']]

                   A         B
2000-01-01  0.289160 -0.495616
2000-01-02  0.078071 -0.445411
2000-01-03 -0.037347 -1.939111
2000-01-04  0.684029  1.675777
2000-01-05  0.493408  0.894284
2000-01-06  1.077312  0.381970
2000-01-07  0.336457  0.181531
2000-01-08  0.414856  0.029001