Selection By Position
====
**依据位置选取**

**Warning** 

Whether a copy or a reference is returned for a setting operation, may depend on the context. This is sometimes called `chained assignment` and should be avoided. See [Returning a View versus Copy](http://pandas.pydata.org/pandas-docs/version/0.20.3/indexing.html#indexing-view-versus-copy)

对于设置操作是返回副本，还是引用，可能取决于上下文。这有时称为链式分配，应该避免。 请参阅 [Returning a View versus Copy](http://pandas.pydata.org/pandas-docs/version/0.20.3/indexing.html#indexing-view-versus-copy)

Pandas provides a suite of methods in order to get **purely integer based indexing**. The semantics follow closely python and numpy slicing. These are `0-based` indexing. When slicing, the start bounds is *included*, while the upper bound is *excluded*. Trying to use a non-integer, even a **valid** label will raise an `IndexError`.

Pandas提供了一套方法，以获得**纯粹基于整数的索引**。 语义遵循 python 和 numpy 切片。 这些是`0-based` 的索引。 切片时，起始边界是*包含*，而上限是*排除的*。 尝试使用非整数，甚至**有效的**标签会触发`IndexError`。

The `.iloc` attribute is the primary access method. The following are valid inputs:

- An integer e.g. `5`
- A list or array of integers `[4, 3, 0]`
- A slice object with ints `1:7`
- A boolean array
- A `callable`, see [Selection By Callable](http://pandas.pydata.org/pandas-docs/version/0.20.3/indexing.html#indexing-callable)

`.iloc`属性是主要的访问方法。 以下是有效输入：

- 整数，例如`5`
- 整数列表或数组`[4,3,0]`
- 具有整数`1：7`的切片对象
- 布尔数组
- 一个 `callable`，参见[Selection By Callable](http://pandas.pydata.org/pandas-docs/version/0.20.3/indexing.html#indexing-callable)

In [2]:
import numpy as np 
import pandas as pd

s1 = pd.Series(np.random.randn(5), index=list(range(0,10,2)))

In [3]:
s1

0    0.592347
2    0.202504
4    2.076722
6    0.829714
8   -0.143530
dtype: float64

In [4]:
s1.iloc[:3]

0    0.592347
2    0.202504
4    2.076722
dtype: float64

In [5]:
s1.iloc[3]

0.8297143242271774

Note that setting works as well:

注意，这也适用于设置：

In [9]:
s1.iloc[:3] = 0

s1

0    0.000000
2    0.000000
4    0.000000
6    0.829714
8   -0.143530
dtype: float64

With a DataFrame

In [12]:
df1 = pd.DataFrame(np.random.randn(6,4),
                   index=list(range(0,12,2)),
                   columns=list(range(0,8,2)))

In [14]:
df1

           0         2         4         6
0  -1.083666 -0.708207  0.538553  0.644885
2   0.030029  0.097014  1.744810  0.159370
4  -1.335701  2.476970  1.532813  0.228341
6  -0.061893  1.007777  1.835084 -1.912256
8  -1.815980 -0.324916 -0.940941 -1.101069
10  1.939230  0.004265  0.247666 -0.079586

Select via integer slicing

通过整数切片选择：

In [15]:
df1.iloc[:3]

          0         2         4         6
0 -1.083666 -0.708207  0.538553  0.644885
2  0.030029  0.097014  1.744810  0.159370
4 -1.335701  2.476970  1.532813  0.228341

In [16]:
df1.iloc[1:5, 2:4]

          4         6
2  1.744810  0.159370
4  1.532813  0.228341
6  1.835084 -1.912256
8 -0.940941 -1.101069

Select via integer list

通过整数列表选择：

In [17]:
df1.iloc[[1, 3, 5], [1, 3]]

           2         6
2   0.097014  0.159370
6   1.007777 -1.912256
10  0.004265 -0.079586

In [18]:
df1.iloc[1:3, :]

          0         2         4         6
2  0.030029  0.097014  1.744810  0.159370
4 -1.335701  2.476970  1.532813  0.228341

In [19]:
df1.iloc[:, 1:3]

           2         4
0  -0.708207  0.538553
2   0.097014  1.744810
4   2.476970  1.532813
6   1.007777  1.835084
8  -0.324916 -0.940941
10  0.004265  0.247666

In [20]:
# this is also equivalent to ``df1.iat[1,1]``
df1.iloc[1, 1]

0.09701394671464929

For getting a cross section using an integer position (equiv to `df.xs(1)`)

使用整数位置获得横截面（相当于`df.xs（1）`）

In [21]:
df1.iloc[1]

0    0.030029
2    0.097014
4    1.744810
6    0.159370
Name: 2, dtype: float64

Out of range slice indexes are handled gracefully just as in Python/Numpy.

正如在Python / Numpy中一样，优雅地处理超出范围的切片索引。

In [23]:
# these are allowed in python/numpy.
# Only works in Pandas starting from v0.14.0.
x = list('abcdef')

x

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
x[4:10]

['e', 'f']

In [25]:
x[8:10]

[]

In [26]:
s = pd.Series(x)

s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [27]:
s.iloc[4:10]

4    e
5    f
dtype: object

In [28]:
 s.iloc[8:10]

Series([], dtype: object)

**Note**

Prior to v0.14.0, `iloc` would not accept out of bounds indexers for slices, e.g. a value that exceeds the length of the object being indexed.

在v0.14.0之前，`iloc`不接受切片的超出索引器，例如一个超过被索引对象长度的值。

Note that this could result in an empty axis (e.g. an empty DataFrame being returned)

请注意，这可能会导致空轴（例如返回一个空的DataFrame）

In [29]:
dfl = pd.DataFrame(np.random.randn(5,2), columns=list('AB'))

df1

           0         2         4         6
0  -1.083666 -0.708207  0.538553  0.644885
2   0.030029  0.097014  1.744810  0.159370
4  -1.335701  2.476970  1.532813  0.228341
6  -0.061893  1.007777  1.835084 -1.912256
8  -1.815980 -0.324916 -0.940941 -1.101069
10  1.939230  0.004265  0.247666 -0.079586

In [30]:
dfl.iloc[:, 2:3]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [31]:
dfl.iloc[:, 1:3]

          B
0  0.787640
1 -1.216067
2 -1.091565
3  0.231851
4 -0.178344

In [32]:
dfl.iloc[4:6]

          A         B
4  1.267506 -0.178344

A single indexer that is out of bounds will raise an `IndexError`. A list of indexers where any element is out of bounds will raise an `IndexError`

超出范围的单个索引器将引发`IndexError`。 一个索引器列表的任何元素超出范围都会引发`IndexError`

In [33]:
dfl.iloc[[4, 5, 6]]

IndexError: positional indexers are out-of-bounds

In [34]:
dfl.iloc[:, 4]

IndexError: single positional indexer is out-of-bounds