Fast scalar value getting and setting
===
**快速的标量值获取和设置**

Since indexing with `[]` must handle a lot of cases (single-label access, slicing, boolean indexing, etc.), it has a bit of overhead in order to figure out what you’re asking for. If you only want to access a scalar value, the fastest way is to use the `at` and `iat` methods, which are implemented on all of the data structures.

Similarly to `loc`, `at` provides **label** based scalar lookups, while, `iat` provides **integer** based lookups analogously to `iloc`

因为使用`[]`进行索引必须处理很多情况（单标签访问，切片，布尔索引等），所以它有一些开销以便弄清楚你要求的是什么。 如果您只想访问标量值，最快的方法是使用`at`和`iat`方法，这些方法在所有数据结构上实现。

与`loc`类似，`at`提供基于**标签**的标量查找，而`iat`提供基于**整数**的查找，类似于`iloc`

In [1]:
import numpy as np
import pandas as pd

s = pd.Series([0,1,2,3,4,5])

s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [3]:
s.iat[5]

5

In [4]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01  0.101826 -0.570693  0.349871 -0.660636
2000-01-02  0.611364 -0.953970 -0.648783 -0.014608
2000-01-03  0.546822  1.612628  0.947686 -0.464499
2000-01-04  0.101461  0.377763 -0.294844  1.547374
2000-01-05  0.352443  0.375302 -0.921746  0.292939
2000-01-06 -1.070639 -0.563805 -0.507753  0.365056
2000-01-07  0.406842  0.596657  1.525023 -1.244689
2000-01-08 -1.253679  1.339521  1.834577  0.001956