Row or Column-wise Function Application
====

Arbitrary functions can be applied along the axes of a DataFrame or Panel using the [`apply()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.DataFrame.apply.html#pandas.DataFrame.apply) method, which, like the descriptive statistics methods, take an optional `axis` argument:

可以使用[`apply()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.DataFrame.apply.html#pandas.DataFrame.apply)方法沿着DataFrame或Panel的轴应用任意函数，与描述性统计方法一样，采用可选的`axis`参数：

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                   'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                   'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

df

        one       two     three
a  0.133106  0.918492       NaN
b -0.288397  2.164965 -1.742485
c  1.306657  1.884424  0.266492
d       NaN  0.404344  2.718009

In [7]:
df.apply(np.mean)

one      0.383789
two      1.343056
three    0.414006
dtype: float64

In [8]:
row = df.iloc[1]

column = df['two']

df.sub(row, axis='columns')

        one       two     three
a  0.421503 -1.246473       NaN
b  0.000000  0.000000  0.000000
c  1.595054 -0.280540  2.008977
d       NaN -1.760621  4.460494