Applying Elementwise Functions
====
**应用元素方式函数**

Since not all functions can be vectorized (accept NumPy arrays and return another array or value), the methods [`applymap()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.DataFrame.applymap.html#pandas.DataFrame.applymap) on DataFrame and analogously [`map()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.Series.map.html#pandas.Series.map) on Series accept any Python function taking a single value and returning a single value. For example:

由于不是所有函数都可以被矢量化（接受NumPy数组并返回另一个数组或值），在DataFrame上的方法 [`applymap()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.DataFrame.applymap.html#pandas.DataFrame.applymap) 和类似的在Series上的 [`map()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.Series.map.html#pandas.Series.map) 方法，接受任一采用单个值并返回单个值的Python函数，例如:

In [3]:
import numpy as np
import pandas as pd

df4 = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                   'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                   'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

df4

        one       two     three
a -0.662404 -1.125664       NaN
b  0.608493 -0.047976  0.408345
c -0.088842 -0.320211 -1.181986
d       NaN  0.049550 -1.143228

In [4]:
f = lambda x: len(str(x))

In [5]:
df4['one'].map(f)

a    19
b    18
c    19
d     3
Name: one, dtype: int64

In [6]:
df4.applymap(f)

   one  two  three
a   19   19      3
b   18   20     18
c   19   19     19
d    3   19     18

[`Series.map()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.Series.map.html#pandas.Series.map) has an additional feature which is that it can be used to easily “link” or “map” values defined by a secondary series. This is closely related to [merging/joining functionality](http://pandas.pydata.org/pandas-docs/version/0.20.3/merging.html#merging):

[`Series.map()`](http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.Series.map.html#pandas.Series.map) 还有一个附加的特性，那就是它可以被用来轻松地“link链接”或“map映射”值，这些值是由一个次要的Series定义。这与[merging/joining functionality](http://pandas.pydata.org/pandas-docs/version/0.20.3/merging.html#merging)相近:

In [7]:
s = pd.Series(['six', 'seven', 'six', 'seven', 'six'],
              index=['a', 'b', 'c', 'd', 'e'])

In [8]:
s

a      six
b    seven
c      six
d    seven
e      six
dtype: object

In [10]:
t = pd.Series({'six' : 6., 'seven' : 7.})

In [11]:
s.map(t)

a    6.0
b    7.0
c    6.0
d    7.0
e    6.0
dtype: float64