Slicing ranges
====
**切片范围**

The most robust and consistent way of slicing ranges along arbitrary axes is described in the [Selection by Position](http://pandas.pydata.org/pandas-docs/version/0.20.3/indexing.html#indexing-integer)section detailing the `.iloc` method. For now, we explain the semantics of slicing using the `[]` operator.

With Series, the syntax works exactly as with an ndarray, returning a slice of the values and the corresponding labels:

The most robust and consistent way of slicing ranges along arbitrary axes is described in the 在[Selection by Position](http://pandas.pydata.org/pandas-docs/version/0.20.3/indexing.html#indexing-integer)一节中详细描述了`.iloc`方法，这是沿任意轴切片范围的最有力和一致的方法。现在，我们用`[]`操作符解释切片的语义。

对于 Series, 语法与 ndarray 的完全一样。返回一片值和相应的标签：

In [1]:
import numpy as np 
import pandas as pd

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01 -1.354933  0.206253 -1.763504  1.090261
2000-01-02 -0.016341  0.839175  1.050656 -0.207724
2000-01-03 -1.078707  1.532966  0.600653  0.436237
2000-01-04  0.110230 -2.038813 -2.249184 -1.486154
2000-01-05  2.032643 -0.103226  0.681967  0.900394
2000-01-06  0.766157  1.269461 -2.125910  0.376657
2000-01-07 -2.252692  0.948152  0.136550 -0.484152
2000-01-08  2.928896 -0.613671  0.291236 -2.074055

In [3]:
s = df['A']

s

2000-01-01   -1.354933
2000-01-02   -0.016341
2000-01-03   -1.078707
2000-01-04    0.110230
2000-01-05    2.032643
2000-01-06    0.766157
2000-01-07   -2.252692
2000-01-08    2.928896
Freq: D, Name: A, dtype: float64

In [4]:
s[:5]

2000-01-01   -1.354933
2000-01-02   -0.016341
2000-01-03   -1.078707
2000-01-04    0.110230
2000-01-05    2.032643
Freq: D, Name: A, dtype: float64

In [5]:
s[::2]

2000-01-01   -1.354933
2000-01-03   -1.078707
2000-01-05    2.032643
2000-01-07   -2.252692
Freq: 2D, Name: A, dtype: float64

In [6]:
s[::-1]

2000-01-08    2.928896
2000-01-07   -2.252692
2000-01-06    0.766157
2000-01-05    2.032643
2000-01-04    0.110230
2000-01-03   -1.078707
2000-01-02   -0.016341
2000-01-01   -1.354933
Freq: -1D, Name: A, dtype: float64

Note that setting works as well:

请注意，设置也可以工作：

In [7]:
s2 = s.copy()

s2[:5] = 0

s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06    0.766157
2000-01-07   -2.252692
2000-01-08    2.928896
Freq: D, Name: A, dtype: float64

With DataFrame, slicing inside of `[]` **slices the rows**. This is provided largely as a convenience since it is such a common operation.

对DataFrame，`[]`内部的切取是**行切片**。 这主要是为了方便而提供的，因为它是非常常见的操作。

In [8]:
df[:3]

                   A         B         C         D
2000-01-01 -1.354933  0.206253 -1.763504  1.090261
2000-01-02 -0.016341  0.839175  1.050656 -0.207724
2000-01-03 -1.078707  1.532966  0.600653  0.436237

In [10]:
df[::1]

                   A         B         C         D
2000-01-01 -1.354933  0.206253 -1.763504  1.090261
2000-01-02 -0.016341  0.839175  1.050656 -0.207724
2000-01-03 -1.078707  1.532966  0.600653  0.436237
2000-01-04  0.110230 -2.038813 -2.249184 -1.486154
2000-01-05  2.032643 -0.103226  0.681967  0.900394
2000-01-06  0.766157  1.269461 -2.125910  0.376657
2000-01-07 -2.252692  0.948152  0.136550 -0.484152
2000-01-08  2.928896 -0.613671  0.291236 -2.074055