Selection By Callable
====
**依据Callable选择**

New in version 0.18.1.

`.loc`, `.iloc`, and also `[]` indexing can accept a `callable` as indexer. The `callable` must be a function with one argument (the calling Series, DataFrame or Panel) and that returns valid output for indexing.

版本0.18.1中的新功能。

`.loc`，`.iloc`和`[]`索引可以接受`callable`作为索引器。 `callable`必须是一个带有一个参数的函数（调用Series，DataFrame或Panel），并返回有效的索引输出。

In [2]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

In [3]:
df1

          A         B         C         D
a -0.830143  0.792663 -0.786649  1.327859
b  0.167579 -0.749394  0.630911 -1.816823
c -0.867471  0.079949  1.526440 -0.392014
d  2.089644  0.681164  0.108637 -0.753498
e -0.565487 -0.047689 -1.055554  0.468578
f  0.795580 -1.012479  0.394326  0.197046

In [4]:
df1.loc[lambda df: df.A > 0, :]

          A         B         C         D
b  0.167579 -0.749394  0.630911 -1.816823
d  2.089644  0.681164  0.108637 -0.753498
f  0.795580 -1.012479  0.394326  0.197046

In [5]:
df1.loc[:, lambda df: ['A', 'B']]

          A         B
a -0.830143  0.792663
b  0.167579 -0.749394
c -0.867471  0.079949
d  2.089644  0.681164
e -0.565487 -0.047689
f  0.795580 -1.012479

In [6]:
df1.iloc[:, lambda df: [0, 1]]

          A         B
a -0.830143  0.792663
b  0.167579 -0.749394
c -0.867471  0.079949
d  2.089644  0.681164
e -0.565487 -0.047689
f  0.795580 -1.012479

In [7]:
df1[lambda df: df.columns[0]]

a   -0.830143
b    0.167579
c   -0.867471
d    2.089644
e   -0.565487
f    0.795580
Name: A, dtype: float64

You can use callable indexing in `Series`.

可以使用callable在`Series`中检索。

In [8]:
df1.A.loc[lambda s: s > 0]

b    0.167579
d    2.089644
f    0.795580
Name: A, dtype: float64

Using these methods / indexers, you can chain data selection operations without using temporary variable.

使用这些方法/索引器，您可以在不使用临时变量的情况下链接数据选择操作。

In [17]:
bb = pd.read_csv('../baseball.csv', index_col='id')
bb.head()

,Unnamed: 0,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
ansonca01,4,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN
forceda01,44,1871,1,WS3,NaN,32,162,45,45,9,...,29.0,8.0,0.0,4,0.0,NaN,NaN,NaN,NaN,NaN
mathebo01,68,1871,1,FW1,NaN,19,89,15,24,3,...,10.0,2.0,1.0,2,0.0,NaN,NaN,NaN,NaN,NaN
startjo01,99,1871,1,NY2,NaN,33,161,35,58,5,...,34.0,4.0,2.0,3,0.0,NaN,NaN,NaN,NaN,NaN
suttoez01,102,1871,1,CL1,NaN,29,128,35,45,3,...,23.0,3.0,1.0,1,0.0,NaN,NaN,NaN,NaN,NaN

In [20]:
(bb.groupby(['year', 'team']).sum()
 .loc[lambda df: df.r > 100])

           Unnamed: 0  stint    g    ab    r    h  X2b  X3b  hr    rbi    sb  \
year team
1872 BL1          645      4  120   566  131  157   13    6   1   75.0   6.0
1873 BL1          708      2  106   511  147  170   18    8   2   80.0   4.0
     BS1          741      2  117   590  158  219   34    9   1  114.0  10.0
     NY2         1074      3  141   642  110  165   15    7   1   63.0   4.0
     PH1          656      2  103   496  104  182   16    8   0   69.0   1.0
1874 BS1          990      2  140   684  157  210   20   15   8  113.0  12.0
     CH2          887      2  118   565  108  172   19    2   0   60.0   8.0
     NY2         2354      6  255  1179  214  317   37   13   3  134.0  17.0
     PH1          903      2  110   502  105  158   18    6   0   65.0  12.0
1875 BS1         1398      2  155   729  173  242   36   10   7  132.0  19.0
     HR1         1910      4  161   729  141  214   26   12   0   72.0  27.0
     NY2         2612      4  267  1106  138  247   30   11   4   88.0   6.0
     PH1         1828      3  221  1070  245  342   48   15   1  166.0  30.0
1876 CHN         2392      3  196   917  191  315   48   11   5  178.0   0.0
     HAR         1615      2  136   572  113  148   21    8   1   62.0   0.0
1877 BSN         3760      4  239  1026  209  346   43   22   2  139.0   0.0
     HAR         2778      3  174   785  133  229   25   13   2   67.0   0.0
     LS1         2780      3  181   758  102  214   22   12   6   97.0   0.0
1878 BSN         5026      5  300  1199  159  293   48   17   2  120.0   0.0
     CHN         1982      2  121   546  113  189   24    7   1   67.0   0.0
     CN1         3999      4  242  1015  166  306   29   11   3  123.0   0.0
     PRO         3056      3  161   664  112  202   37   18   6   91.0   0.0
1879 BFN         3291      3  225   917  124  227   34   18   0   72.0   0.0
     BSN         5568      5  416  1730  301  458   79   25  11  216.0   0.0
     CHN         3269      3  187   809  136  238   50    5   0  101.0   0.0
     CN1         4474      5  246  1041  165  303   48   21   4  142.0   0.0
     PRO         6799      6  439  1967  385  618   91   33   9  236.0   0.0
1880 BFN         4921      4  252   953  104  199   40   11   0   49.0   0.0
     BSN         6195      5  400  1629  265  427   77   28  15  186.0   0.0
     CHN         3616      3  247  1022  196  336   64   12   4  181.0   0.0
...               ...    ...  ...   ...  ...  ...  ...  ...  ..    ...   ...
2005 BAL       616106      7  547  1666  190  431   74    4  53  206.0   5.0
     BOS       968930     15  583   930  171  275   49    2  56  203.0   5.0
     CHN       617061      8  620  1996  228  534  108    8  52  226.0  20.0
     DET       175610      2  226   878  120  256   57    8  26  103.0   8.0
     FLO       791335     12  592  1228  165  348   84    6  46  191.0   6.0
     HOU       615722      7  551  1322  157  339   75    3  33  162.0  18.0
     LAN       352023      4  245   715  117  187   40    2  31  119.0   9.0
     NYA      1496740     21  956  2102  283  525   82    2  71  297.0  41.0
     NYN       704456      9  492  1198  144  295   49    2  55  177.0  14.0
     PHI       615910      7  488  1326  169  351   58    7  27  153.0  22.0
     SDN       878157     13  592  1164  151  297   51    3  37  163.0  16.0
     SFN       703844      8  557  1607  191  438   71    9  34  175.0  31.0
     SLN       615266      7  557  1381  234  365   88    5  74  232.0  21.0
2006 ARI       526412      6  387  1196  177  321   80    6  35  152.0   5.0
     CHA       263878      4  168   536  113  151   29    0  43  117.0   0.0
     CHN       527710      8  396  1036  115  258   43    3  26  128.0   2.0
     HOU       350407      4  375  1014  116  238   50    1  23  101.0   6.0
     KCA       262087      3  234   771  110  198   53    1  24  113.0  10.0
     LAN       441224      6  311   989  146  290   49   15  17  121.0  34.0
     NYN       968983     14  666  1686  232  421   96    6  74  268.0  18.0
     SDN       958886     14  507  1010  103  259   42    2  32  128.0  10.0
     SFN       963643     12  830  2167  334  579  112   25  65  292.0  36.0
2007 CIN       536621      6  379   745  101  203   35    2  36  125.0  10.0
     DET       446997      5  301  1062  162  283   54    4  37  144.0  24.0
     HOU       357725      4  311   926  109  218   47    6  14   77.0  10.0
     LAN       715256     11  413  1021  153  293   61    3  36  154.0   7.0
     NYN      1073198     13  622  1854  240  509  101    3  61  243.0  22.0
     SFN       447198      5  482  1305  198  337   67    6  40  171.0  26.0
     TEX       178804      2  198   729  115  200   40    4  28  115.0  21.0
     TOR       357561      4  459  1408  187  378   96    2  58  223.0   4.0

             cs   bb     so   ibb   hbp    sh    sf  gidp
year team
1872 BL1    2.0    8    3.0   0.0   0.0   0.0   0.0   0.0
1873 BL1    1.0   12    3.0   0.0   0.0   0.0   0.0   0.0
     BS1    4.0   14    3.0   0.0   0.0   0.0   0.0   0.0
     NY2    1.0   15    5.0   0.0   0.0   0.0   0.0   0.0
     PH1    5.0    7    3.0   0.0   0.0   0.0   0.0   0.0
1874 BS1    2.0    8    5.0   0.0   0.0   0.0   0.0   0.0
     CH2    1.0    7    5.0   0.0   0.0   0.0   0.0   0.0
     NY2    0.0   17   13.0   0.0   0.0   0.0   0.0   0.0
     PH1    4.0    4    3.0   0.0   0.0   0.0   0.0   0.0
1875 BS1    8.0   12    8.0   0.0   0.0   0.0   0.0   0.0
     HR1   14.0    6   20.0   0.0   0.0   0.0   0.0   0.0
     NY2   13.0   14    7.0   0.0   0.0   0.0   0.0   0.0
     PH1   19.0   12   10.0   0.0   0.0   0.0   0.0   0.0
1876 CHN    0.0   20   14.0   0.0   0.0   0.0   0.0   0.0
     HAR    0.0   23   20.0   0.0   0.0   0.0   0.0   0.0
1877 BSN    0.0   38   37.0   0.0   0.0   0.0   0.0   0.0
     HAR    0.0   11   29.0   0.0   0.0   0.0   0.0   0.0
     LS1    0.0   17   39.0   0.0   0.0   0.0   0.0   0.0
1878 BSN    0.0   16   87.0   0.0   0.0   0.0   0.0   0.0
     CHN    0.0   15    4.0   0.0   0.0   0.0   0.0   0.0
     CN1    0.0   28   43.0   0.0   0.0   0.0   0.0   0.0
     PRO    0.0   12   42.0   0.0   0.0   0.0   0.0   0.0
1879 BFN    0.0   30  123.0   0.0   0.0   0.0   0.0   0.0
     BSN    0.0   59  147.0   0.0   0.0   0.0   0.0   0.0
     CHN    0.0   16   60.0   0.0   0.0   0.0   0.0   0.0
     CN1    0.0   17   45.0   0.0   0.0   0.0   0.0   0.0
     PRO    0.0   61   84.0   0.0   0.0   0.0   0.0   0.0
1880 BFN    0.0   30  137.0   0.0   0.0   0.0   0.0   0.0
     BSN    0.0   58  105.0   0.0   0.0   0.0   0.0   0.0
     CHN    0.0   47   44.0   0.0   0.0   0.0   0.0   0.0
...         ...  ...    ...   ...   ...   ...   ...   ...
2005 BAL    3.0  139  244.0  11.0  13.0   8.0  18.0  54.0
     BOS    1.0  105  166.0  12.0  12.0   1.0  10.0  34.0
     CHN   13.0  128  272.0   8.0   9.0  23.0  13.0  53.0
     DET    3.0   28  141.0   2.0   7.0   1.0  11.0  27.0
     FLO    2.0  143  254.0  26.0  25.0  12.0  16.0  37.0
     HOU    4.0  126  217.0  15.0  24.0  17.0  10.0  32.0
     LAN    3.0  103  129.0  10.0  12.0   2.0   6.0  21.0
     NYA   10.0  205  337.0  12.0  17.0  12.0  21.0  52.0
     NYN    2.0  114  229.0  19.0  15.0  13.0   2.0  16.0
     PHI    4.0  148  226.0  17.0  11.0  11.0   6.0  36.0
     SDN   10.0  153  246.0   5.0   2.0  21.0  12.0  21.0
     SFN   12.0  160  224.0   5.0  16.0  31.0  10.0  36.0
     SLN    7.0  183  350.0  15.0  17.0  14.0  10.0  29.0
2006 ARI    6.0  127  154.0  14.0  18.0   3.0  10.0  27.0
     CHA    0.0  110  154.0  12.0   6.0   0.0   9.0   4.0
     CHN    3.0   89  178.0   3.0   2.0   9.0  11.0  19.0
     HOU    3.0   88  166.0   3.0  16.0  21.0   8.0  37.0
     KCA   11.0   84  169.0   6.0   4.0   4.0   6.0  19.0
     LAN    7.0  101  130.0   9.0   8.0  15.0   6.0  29.0
     NYN    3.0  175  374.0  22.0  28.0  28.0  20.0  43.0
     SDN    2.0   77  167.0   4.0   7.0  17.0  11.0  27.0
     SFN   11.0  289  275.0  51.0  22.0  24.0  15.0  53.0
2007 CIN    1.0  105  127.0  14.0   1.0   1.0  15.0  18.0
     DET    7.0   97  176.0   3.0  10.0   4.0   8.0  28.0
     HOU    4.0   60  212.0   3.0   9.0  16.0   6.0  17.0
     LAN    5.0  114  141.0   8.0   9.0   3.0   8.0  29.0
     NYN    4.0  174  310.0  24.0  23.0  18.0  15.0  48.0
     SFN    7.0  235  188.0  51.0   8.0  16.0   6.0  41.0
     TEX    4.0   73  140.0   4.0   5.0   2.0   8.0  16.0
     TOR    2.0  190  265.0  16.0  12.0   4.0  16.0  38.0

[2175 rows x 19 columns]

# IX Indexer is Deprecated

**Warning** 

Starting in 0.20.0, the `.ix` indexer is deprecated, in favor of the more strict `.iloc` and `.loc` indexers.

从0.20.0开始，不推荐使用`.ix`索引器，而使用更严格的`.iloc`和`.loc`索引器。