Setting With Enlargement
====
**设置扩大**

New in version 0.13.

The `.loc/[]` operations can perform enlargement when setting a non-existant key for that axis.

In the `Series` case this is effectively an appending operation

版本0.13中的新功能。

当为轴设置不存在的键时，`.loc / []`操作可以执行扩大。

在`Series`案例中，这实际上是一个追加操作

In [3]:
import numpy as np
import pandas as pd

se = pd.Series([1,2,3])

se

0    1
1    2
2    3
dtype: int64

In [4]:
se[5] = 5.

A `DataFrame` can be enlarged on either axis via `.loc`

可以通过`.loc`在任一轴上放大`DataFrame`

In [5]:
dfi = pd.DataFrame(np.arange(6).reshape(3,2),
                   columns=['A','B'])

In [8]:
dfi

   A  B
0  0  1
1  2  3
2  4  5

In [10]:
dfi.loc[:,'C'] = dfi.loc[:,'A']

dfi

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4

This is like an `append` operation on the `DataFrame`.

这就像`DataFrame`上的`append`操作。

In [12]:
dfi.loc[3] = 5

dfi

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
3  5  5  5

# End